@import url(https://fonts.googleapis.com/css?family=Sansita+One);
html {
  background-color: darkslategray; }

.images {
  border: 2px solid black;
  margin-right: 10px;
  padding: 4px; }

.container {
  padding-top: 50px; }

.row {
  margin-bottom: 10px; }

* {
  margin: 0;
  padding: 0; }

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 5s;
  animation-duration: 5s; }

#wrapp {
  width: 1300px;
  min-height: 700px;
  margin: 0 auto;
  border: 5px solid whitesmoke;
  border-radius: 40px;
  overflow: hidden;
  background: url(/i/content/textura.png);
  background-repeat: no-repeat;
  background-size: contain; }

header {
  width: 100%;
  height: 70px;
  background-color: white; }

header h1 {
  text-align: center;
  line-height: 60px;
  font-size: 1.5em; }

section {
  position: relative;
  width: 700px;
  height: 640px;
  float: left;
  margin: auto; }

section img {
  width: 200px;
  height: 130px;
  margin: 10px;
  border: 3px solid darkslategray; }

aside {
  overflow: hidden;
  width: 600px;
  height: 640px;
  background-image: -webkit-gradient(linear, right top, left top, from(whitesmoke), to(rgba(51, 100, 0, 0.5)));
  background-image: -webkit-linear-gradient(right, whitesmoke, rgba(51, 100, 0, 0.5));
  background-image: -o-linear-gradient(right, whitesmoke, rgba(51, 100, 0, 0.5));
  background-image: linear-gradient(-90deg, whitesmoke, rgba(51, 100, 0, 0.5));
  float: left; }

#holder {
  overflow: hidden;
  width: 600px;
  height: 350px;
  background-color: darkslategrey;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.mystylep {
  overflow: scroll;
  height: 190px;
  font-size: 22px;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-weight: 700; }

::-webkit-scrollbar {
  width: 15px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; }

#info {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding-top: 30px;
  background: url(/i/content/plaviljudi.png);
  background-repeat: no-repeat;
  background-size: contain; }

.bg-video {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.slike {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.composition {
  position: relative; }
  .composition__photo {
    border-radius: 13px;
    outline-offset: 2px; }
    .composition__photo:hover {
      opacity: 0.8;
      border: 2px solid white;
      z-index: 20; }

#holder img:not(.logocb) {
  border-radius: 0;
  pointer-events: none; }

.logojs {
  position: absolute;
  float: left;
  width: 220px;
  height: 200px;
  margin-left: 16px;
  top: 15px;
  z-index: 999; }

.connections {
  position: relative;
  float: right;
  margin-top: 17px;
  margin-right: 15px; }

a {
  color: black !important; }

i {
  font-size: 35px;
  margin-left: 8px; }
  i:hover {
    color: darkolivegreen; }

.cv {
  top: -2px;
  left: -40px;
  width: 42px;
  height: 42px;
  position: absolute; }

.logocb {
  height: 380px;
  width: 100%; }

.introduction {
  font-size: 25px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 33px; }

.myname {
  font-family: 'Gloria Hallelujah', cursive; }

.big-button {
  position: relative;
  background-color: #ccffcc;
  color: #000000;
  font-family: 'Sansita One', cursive;
  font-size: 13px;
  font-weight: 300;
  padding: 10px;
  height: 55px;
  width: 110px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 0px whitesmoke, 0px 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 15px 0px whitesmoke, 0px 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 0px #214466, 0px 10px 25px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border-color: #1d3f88;
  border-width: 8px;
  border-radius: 40px 100px 100px 100px;
  padding: 5px; }

.big-button:active {
  -webkit-box-shadow: 0px 3px 0px #2a3e57, 0px 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 3px 0px #2a3e57, 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 8px; }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  80% { }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
    transform: translate(0px); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  80% { }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px);
    transform: translate(0px); } }
