html {
    background-color: darkslategray;

}
.images {
    border: 2px solid black; 
    margin-right:10px;
    padding:4px;
}
.container {
  padding-top:50px;
}
.row {
  margin-bottom:10px;
}
* {
  margin: 0;
  padding: 0;
  
}
.wrapper {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
#wrapp {
  width: 1300px;
  min-height: 700px;
  margin: 0 auto;
  
  border: 5px solid whitesmoke;
  border-radius: 40px;
  overflow:hidden;
  background: url(/i/content/textura.png);
    background-repeat: no-repeat;
    background-size: contain;
    
  
}

header{
  width:100%;
  height: 70px;
  background-color:white;
  
}
header h1{
  text-align:center;
  line-height:60px;
  font-size:1.5em;
  
}
section {
  position: relative;
  width: 700px;
  height: 640px;
  float: left;
  margin: auto;
  
}
section img {
  width: 200px;
  height: 130px;
  margin:10px;
  border: 3px solid darkslategray;
  
}
aside {
  overflow:hidden;
  width: 600px;
  height: 640px;
  background-image: linear-gradient(-90deg, darkolivegreen, yellow);
  float:left;
}
#holder {
  overflow:hidden;
  width: 600px;
  height: 350px;
  
  //background-image: url("../i/content/logocrnobeli.png"); /* The image used */
  background-color: darkslategrey; /* Used if the image is unavailable */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
 
}
.mystylep {
  //width:560px;
  font-size: 22px;
  font-family: 'Gloria Hallelujah', cursive;
  color:black;
  font-weight: 700;
  //margin-right: 30px;
}
#info {
  position: relative;
  text-align:center;
  overflow:hidden;
  width: 100%;
  height: 400px;
  //padding: 20px;
  margin: 0 auto;
  padding-top: 30px;
  background: url(/i/content/backinfo.png);
  background-repeat: no-repeat;
  background-size: cover;
 
}

.bg-video {
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.slike {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
}
.composition {
    position: relative;

    &__photo {
        
      
        border-radius: 13px;
        
       
        transition: all .3s;
        outline-offset: 2px;

      

    

        &:hover {
            opacity:0.8;
            border:2px solid white;
            transform: rotate(2deg) scale(1.1);
            
            z-index: 20;
        }

    }

   
}
     #holder img:not(.logocb)  {
       border-radius: 0;
      //-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 86% 91%, 75% 100%, 76% 91%, 0 91%);
     // clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 86% 91%, 75% 100%, 76% 91%, 0 91%);  
     pointer-events: none;
     
    
    
    }
    .logojs {
      position: absolute;
      float: left;
      width: 190px;
      height: 100px;
      margin-left: 16px;
      top: 51px;
    }
    .connections{
      position: relative;
      float:right;
      margin-top: 17px;
      margin-right: 15px;
    }
    
    a {
      color:black !important;
    }
    i {
      font-size:35px;
      margin-left:8px;
      &:hover{
        color:darkolivegreen;
      }
      
    }
    .cv{
      top: -2px;
      left: -40px;
      width: 42px;
      height: 42px;
      position: absolute;
    }

    .logocb {
           height: 380px;
           width: 100%;
    }
    .introduction {
      font-size: 25px;
      text-align: center;
      font-family: 'Gloria Hallelujah', cursive;
      line-height: 33px;;
    }
    .myname {
      font-family: 'Gloria Hallelujah', cursive;
    }
   
   @import url(https://fonts.googleapis.com/css?family=Sansita+One);



.big-button {
  position: relative;
  background-color:#ccffcc;
  color: #000000;
  font-family: 'Sansita One', cursive;
  font-size: 13px;
  font-weight: 300;
  
  
  //margin: 10px auto;
  padding: 10px;
  height: 55px;
  width: 110px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  -webkit-box-shadow: 0px 15px 0px whitesmoke, 0px 10px 25px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 15px 0px whitesmoke, 0px 10px 25px rgba(0,0,0,.5);
  box-shadow: 0px 15px 0px #708090, 0px 10px 25px rgba(0,0,0,.5);
  
  margin: 0 auto;
  
  border-color: #1d3f88;
  border-width: 8px;
  border-radius: 40px 100px 100px 100px;
  padding: 5px;
}

.big-button:active {
  box-shadow: 0px 3px 0px #2a3e57, 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 8px;
  
}

