html {
    background-color: darkslategray;

}
.images {
    border: 2px solid black; 
    margin-right:10px;
    padding:4px;
}
.container {
  padding-top:50px;
}
.row {
  margin-bottom:10px;
}
* {
  margin: 0;
  padding: 0;
  
}
.wrapper {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
#wrapp {
  width: 1300px;
  min-height: 700px;
  margin: 0 auto;
  
  border: 5px solid whitesmoke;
  border-radius: 40px;
  overflow:hidden;
  background: url(/i/content/textura.png);
    background-repeat: no-repeat;
    background-size: contain;
    
  
}

header{
  width:100%;
  height: 70px;
  background-color:white;
  
}
header h1{
  text-align:center;
  line-height:60px;
  font-size:1.5em;
  
}
section {
  position: relative;
  width: 700px;
  height: 640px;
  float: left;
  margin: auto;
  
}
section img {
  width: 200px;
  height: 130px;
  margin:10px;
  border: 3px solid darkolivegreen;
  
}
aside {
  overflow:hidden;
  width: 600px;
  height: 640px;
  background: darkslategray;
  float:left;
}
#holder {
  overflow:hidden;
  width: 600px;
  height: 350px;
  
  //background-image: url("../i/content/logocrnobeli.png"); /* The image used */
  background-color: darkslategrey; /* Used if the image is unavailable */
 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
 
}
#info {
  overflow:hidden;
  width: 260px;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  padding-top: 60px;
}
.dugme {
  width:80px;
  height:40px;
  background-color: blue;
}
.bg-video {
    
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.slike {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
}
.composition {
    position: relative;

    &__photo {
        
      
        border-radius: 13px;
        
       
        transition: all .3s;
        outline-offset: 2px;

      

    

        &:hover {
            opacity:0.8;
            border:2px solid white;
            transform: rotate(2deg) scale(1.1);
            
            z-index: 20;
        }

    }

   
}
     #holder img:not(.logocb)  {
       border-radius: 0;
      //-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 86% 91%, 75% 100%, 76% 91%, 0 91%);
     // clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 86% 91%, 75% 100%, 76% 91%, 0 91%);  
     pointer-events: none;
     
    
    
    }
    .logojs {
      position: absolute;
      float: left;
      width: 190px;
      height: 100px;
      margin-left: 16px;
      top: 51px;
    }
    .connections{
      float:right;
      margin-top: 17px;
      margin-right: 15px;
    }
    
    a {
      color:black !important;
    }
    i {
      font-size:35px;
      margin-left:8px;
      &:hover{
        color:darkolivegreen;
      }
      
    }

    .logocb {
           height: 380px;
           width: 100%;
    }
    .introduction {
      font-size: 25px;
      text-align: center;
      font-family: 'Gloria Hallelujah', cursive;
      line-height: 33px;;
    }
    .myname {
      font-family: 'Gloria Hallelujah', cursive;
    }
    .fireworks{
      position: absolute;
      top: -10px;
      right: 30px;
      width:200px;
      height:200px;
  
    }
   